In [4]:
x1=[10,20,'red',True,3.14159,10]
print(x1,type(x1))
x2=(1,2,3,4,5,'apple', 2)
print(x2,type(x2))
x3={1,2,3,4,5,2}
print(x3 , type(x3))
x4={'title':'samosa','price':10,'qyt':5}
print(x4,type(x4))

[10, 20, 'red', True, 3.14159, 10] <class 'list'>
(1, 2, 3, 4, 5, 'apple', 2) <class 'tuple'>
{1, 2, 3, 4, 5} <class 'set'>
{'title': 'samosa', 'price': 10, 'qyt': 5} <class 'dict'>

In [12]:
x1=[10,20,30,"apple"]
print(x1,type(x1))
x2=(1,2,3,4,5,'mango','grapes',5)
print(x2, type(x3))
x3={1,2,3,4,5,6,2,"banana"}
print(x3,type(x3))
x4={"name":"john", "age":20, "gender":"male"}
print(x4,type(x4))

[10, 20, 30, 'apple'] <class 'list'>
(1, 2, 3, 4, 5, 'mango', 'grapes', 5) <class 'set'>
{1, 2, 3, 4, 5, 6, 'banana'} <class 'set'>
{'name': 'john', 'age': 20, 'gender': 'male'} <class 'dict'>

In [13]:
print('Getting element from list')
print('First element:', x1[0])
print('second element:',x1[1])
print('third element:',x1[2])
print('Last element:',x1[-1])
print('--'*10)
print('Getting elements from tuple')
print('first element:',x2[0])
print('second element:',x2[1])
print('last element:',x2[-1])
print('--')*10
print('Getting items from set')
print('🍔 we cannot, as set are unordered')
print('--'*10)
print('Getting itmes from dict')
print('Name', x4['name'])
print('Age', x4['age'])
print("Gender",x4 ["gender"])
print("Quantity", x4.get("qty"))
print('--'*10)

Getting element from list
First element: 10
second element: 20
third element: 30
Last element: apple
--------------------
Getting elements from tuple
first element: 1
second element: 2
last element: 5
--

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [2]:
x=[1,2,3]
x.append(10)
print(x)
x.insert(1,100)
print(x)

[1, 2, 3, 10]
[1, 100, 2, 3, 10]

In [3]:
#set
a={'aaple','banana','cherry'}
a.add('dragonfurite')
print(a)

{'dragonfurite', 'aaple', 'cherry', 'banana'}

In [4]:
#dict
b={'name':'shivam'}
b['school']='cms' 
print(b)

{'name': 'shivam', 'school': 'cms'}

In [5]:
print(x)
x.remove(100) #will remove the value 100 from list
print(x)
x.pop(0) #will remove the value at index 0
print(x)
x.pop() #will remove thr last value 
print(x)

[1, 100, 2, 3, 10]
[1, 2, 3, 10]
[2, 3, 10]
[2, 3]

In [6]:
#set
print(a)
a.discard('apple')
print(a)
a.remove('banana')
print(a)

{'dragonfurite', 'aaple', 'cherry', 'banana'}
{'dragonfurite', 'aaple', 'cherry', 'banana'}
{'dragonfurite', 'aaple', 'cherry'}

In [7]:
#dict
print(b)
b.pop('school')
print(b)

{'name': 'shivam', 'school': 'cms'}
{'name': 'shivam'}

In [17]:
import random
random_numbers = tuple(random.randint(1, 100) for _ in range(10))
print( random_numbers)

(28, 45, 32, 7, 41, 97, 94, 73, 15, 52)

In [18]:
flowers_set1 = {"worng_turn", "Lily", "Tulip", "Daisy", "Sunflower", "Orchid", "Carnation", "Daffodil", "Hibiscus", "Peony"}
flowers_set2 = {"Lavender", "Chrysanthemum", "Gerbera", "Poppy", "Marigold", "Dahlia", "Iris", "Hydrangea", "Pansy", "Bougainvillea"}
f1 = set()
f1.update(flowers_set1)
print(flowers_set1)
print(flowers_set2)
print(f1)

{'Peony', 'Daffodil', 'Tulip', 'Sunflower', 'Orchid', 'Lily', 'Daisy', 'Carnation', 'Hibiscus', 'worng_turn'}
{'Chrysanthemum', 'Poppy', 'Iris', 'Hydrangea', 'Marigold', 'Gerbera', 'Lavender', 'Bougainvillea', 'Dahlia', 'Pansy'}
{'Peony', 'Daffodil', 'Tulip', 'Sunflower', 'Orchid', 'Lily', 'Daisy', 'Carnation', 'Hibiscus', 'worng_turn'}

In [13]:
employee_data = {
    'employee_id': 1,
    'first_name': 'shivam',
    'last_name': 'singh',
    'position': 'Software Engineer',
    'department': 'Engineering',
    'salary': 80000,
    'join_date': '2024-01-01',
    'email': 'singh.shivam757@gmail.com'
}
print(employee_data)

{'employee_id': 1, 'first_name': 'John', 'last_name': 'Doe', 'position': 'Software Engineer', 'department': 'Engineering', 'salary': 80000, 'join_date': '2022-01-01', 'email': 'john.doe@example.com'}

In [22]:
movie=[]
movie.append("MS Dhoni")
movie.append("RR")
movie.append("BA Pass")
movie.append("animal")
movie.append("pathan")
movie.append("Aaan")
movie.append("love story")
movie.append("PK")
movie.append("karan arjun")
print(movie)

['MS Dhoni', 'RR', 'BA Pass', 'animal', 'pathan', 'Aaan', 'love story', 'PK', 'karan arjun']

In [ ]:
movie=[]
for i in range(10):
    name= input("enter amovie =>")
    movie.append(name)