In [1]:

my_string = "Hello World"
print(my_string)

Hello World

In [3]:

user_input = input("Enter a string: ")
string_length = len(user_input)
print(string_length)

5

In [4]:
string = "python is great"
words = string.split()
word = words[-1]
print("The last word is:",word)

The last word is: great

In [5]:
sentence = "python is everything"
words = sentence.split()
for word in words:
    print(word)

python
is
everything

In [9]:
msg ='how are you?'
print(msg.upper())
print(msg.lower())
print(msg.capitalize())
print(msg.title())
print(msg.swapcase())
print(msg)

HOW ARE YOU?
how are you?
How are you?
How Are You?
HOW ARE YOU?
how are you?

In [10]:
msg="how is it going"
print(msg.lower())

how is it going

In [14]:
word=["python","is","easy","to","learn"]
sentence='  '.join(words) #convert string into list
print(sentence)

python  is  everything

In [15]:
print('''this is a sroty,
where we are learing python,
and you are just''')

this is a sroty,
where we are learing python,
and you are just

In [16]:
sentence= "to move to newline '\\n' is used." #r-> raw raw string 
#or \\n
print(sentence)

to move to newline '\n' is used.

In [17]:
a= 15
print(f'the variable is {a}')

the variable is 15

In [21]:
s1= 'pyhton '
s2= 'is '
s3= 'great '
print(s1 + s2 + s3)

pyhton is great

In [22]:
print("# " * 20)

# # # # # # # # # # # # # # # # # # # #

In [25]:
for number in range(1, 10):
    print(f'{number}.')

1.
2.
3.
4.
5.
6.
7.
8.
9.

In [1]:
msg= '''ones upon a time, there was a king, and the king was old, there was no time for the king'''
print(msg)

ones upon a time, there was a king, and the king was old, there was no time for the king

In [4]:
idx=msg.find("time")
print(f"time was found at {idx}")
idx2 = msg.find("time", idx+1)
print(f"time was found at {idx2}")
idx3=msg.find("time", idx2+1)
print(f"time was found at {idx3}")

time was found at 12
time was found at 71
time was found at -1

In [5]:
print(msg.replace("king","queen"))
print(msg.replace("a","e"))
print(msg.replace("was","were"))

ones upon a time, there was a queen, and the queen was old, there was no time for the queen
ones upon e time, there wes e king, end the king wes old, there wes no time for the king
ones upon a time, there were a king, and the king were old, there were no time for the king

In [6]:
msg2= msg.replace("time","year,1").replace("old","young")
print(msg2)

ones upon a year,1, there was a king, and the king was young, there was no year,1 for the king

In [9]:
dirty_data="  apple and bananas  "
print(len(dirty_data))
clean_data=dirty_data.strip()
print(clean_data, len(clean_data))

21
apple and bananas 17

In [12]:
file= "data.csv"
if file.endswith(".txt"):
    print("text file")
if file.endswith(".csv"):
    print("csv file")

csv file

In [13]:
msg.count("a")

6

In [3]:
def is_number(input_str):
    float(input_str)
user_input = input("Enter something: ")

if is_number(user_input):
    print("The input is a number.")
else:
    print("The input is not a number.")

The input is not a number.

In [4]:
text = '   this is not a good string   '
cleaned_text = text.strip()
print(cleaned_text)

this is not a good string

In [7]:
user = input("Enter a string: ")
uppercase = False
for char in user:
    if char.isupper():
        uppercase = True
        break
if uppercase:
    print("Found at least one uppercase character.")
else:
    print("No uppercase character found.")

No uppercase character found.

In [11]:
names = 'Joe, David, Mark, Tom, Chris, Robert'
names_list = names.split("Tom")
print(names_list)

['Joe, David, Mark, ', ', Chris, Robert']

In [15]:
text = 'this is some text'
words = text.split()
modified_words = [word + 'aye' for word in words]
result = ' '.join(modified_words)
print(result)

thisaye isaye someaye textaye

In [21]:
paragraph = "this is a paragraph which is written just for the purpose of providing content to let the average word length be calculated"
words = paragraph.split()
length = sum(len(word) for word in words)
word_count = len(words)
average_word_length = length / word_count if word_count > 0 else 0
print("Average word length:", average_word_length)

Average word length: 4.636363636363637

In [5]:
text = '%p34@y!*-*!t68h#&on404'
from string import punctuation, digits
for kachra in punctuation + digits:
    text = text.replace(kachra,"")
print(text)

python